@tailwind base;
@tailwind components;
@tailwind utilities;

/* Timeline.css */
.timeline-container {
    display: flex;
    justify-content: center;
    align-items: center;
    /* You can also add other styles as needed */
  }
  

.mb-10 {
    margin-bottom: 0px;
}